@use '../variables' as var;
@use '../mixin' as mix;

//max-width: 992px
@include mix.laptop {
  //-------Discount---------
  .discount {
    &__box {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}

//max-width: 768px
@include mix.tablet {
  //---Breadcrumbs------
  .breadcrumbs {
    display: none;
  }

  //-------Discount---------
  .discount {
    &__bg {
      padding: 2rem 0;
    }
  }

  //---Shop-Carts------
  .shop-carts {
    &__cart {
      gap: 0 0.5rem;
    }
  }
}

//max-width: 576px
@include mix.mobile {
  //-------Discount---------
  .discount {
    &__inner {
      align-items: center;
    }

    &__box {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      gap: 1rem 0;
    }
  }

  //----View-More-------
  .view-more {
    padding: 0.75rem 3.375rem 0.75rem 1.5rem;

    &::before {
      right: 1.86rem;
    }

    &::after {
      right: 1.5rem;
    }
  }

  //---Review------
  .review {
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;

    &__box {
      flex-direction: column;
    }
  }

  //---Shop-Carts------
  .shop-carts {
    &__cart {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
      gap: 0;
    }

    &__info {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  //---Form-Order-----
  .form-order {
    padding: 0.5rem;

    &__btn-apply {
      padding: 0.5rem;
    }
  }
}
