@use '../variables' as var;
//----Header and Footer in modules/global.scss---
//-------Main-------
//-------Banner-------
.banner {
  width: 100%;

  &__bg {
    padding: 3rem 0 0 0;
    width: 100%;
    background-color: var.$banner-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem 0;
  }

  &__suptitle {
    font-weight: 600;
    font-size: 1.5rem;
    color: var.$banner-suptitle-color;
    transition: var.$transition-color;
  }

  &__title {
    font-size: 6rem;
    font-weight: 100;
    color: var.$banner-title-color;
    transition: var.$transition-color;

    span {
      font-weight: 600;
    }
  }

  &__subtitle {
    font-size: 1.125rem;
    font-weight: 500;
    color: var.$banner-subtitle-color;
    transition: var.$transition-color;
  }
}

//-------shop-link-----
.shop-link {
  padding: 1em 3.5em;
  border: 0.0625rem solid #fff;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  color: var.$shop-link-color;
  transition: var.$transition-color, var.$transition-bg, var.$transition-border-color;

  &:hover {
    background-color: #304272;
  }

  &_color {
    color: var.$shop-link-color-dark;
    border-color: var.$shop-link_color-border-color;
  }
}

//-------banner-m-------
.banner-m {
  width: 100%;

  &__bg {
    width: 100%;
    background: var.$banner-m-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  &__box {
    padding: 0 3.125em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    transition: var.$transition-bg;
    &_1 {
      background-color: var.$banner-m-bg-box-1;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &_2 {
      padding: 0 0 0 3.125rem;
      flex-direction: row-reverse;
      background-color: var.$banner-m-bg-box-2;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 5;
    }

    &_3 {
      background-color: var.$banner-m-bg-box-3;
    }

    &_4 {
      background-color: var.$banner-m-bg-box-4;
    }
  }

  &__img {
    &_air2 {
      display: none;
    }

    &_v2 {
      display: none;
    }
  }

  &__content {
    max-width: 22.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
  }

  &__title {
    font-size: 3.125rem;
    font-weight: 500;
    color: var.$banner-m-color-title-box-1;
    transition: var.$transition-color;

    &_font2 {
      font-size: 4rem;
      font-weight: 100;
      line-height: 1;
      color: var.$banner-m-color-title-box-2;
      span {
        font-weight: 500;
      }
    }

    &_font3 {
      font-size: 1.875rem;
      font-weight: 300;
      color: var.$banner-m-color-title-box-3;
      span {
        font-weight: 500;
      }
    }

    &_font4 {
      font-size: 1.875rem;
      font-weight: 300;
      color: var.$banner-m-color-title-box-4;
      span {
        font-weight: 500;
      }
    }
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$banner-m-color-text;
    transition: var.$transition-color;
  }
}

//-------Category-------
.category {
  &__bg {
    padding: 5rem 0;
    width: 100%;
    background-color: var.$category-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 0 1rem;
  }

  &__btn-prev,
  &__btn-next {
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      transition: var.$transition-fill;
      fill: var.$category-btn-fill;
    }
  }

  &__line {
    gap: 0 1rem;
  }

  &__slide {
    width: 100%;
  }

  &__link {
    display: inline-block;
    width: 100%;
    border-radius: 1rem;
  }

  &__block {
    padding: 1.5rem 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var.$category-slide-bg;
    border-radius: 1rem;
    transition: var.$transition-bg;
  }

  &__svg {
    stroke: var.$category-svg-stroke;
    transition: var.$transition-stroke;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var.$category-name-color;
    transition: var.$transition-color;
  }
}

//-------Title--------
.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var.$title-color;
  transition: var.$transition-color;
}

//-------Products-------
.products {
  &__bg {
    padding: 3.5rem 0;
    width: 100%;
    background-color: var.$products-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem 0;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 2rem;
  }

  &__btn {
    padding: 0 0.125rem;
    background-color: transparent;
    font-size: 1.125rem;
    font-weight: 500;
    color: var.$products-btn-color;
    border: none;
    border-bottom: 0.125rem solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: var.$transition-color, var.$transition-opacity;

    &:hover {
      opacity: 1;
    }

    &_active {
      opacity: 1;
      border-bottom: 0.125rem solid var.$products-btn-bottom-color;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 2rem;
    transform-origin: left;
    transition: var.$transition-transform;
  }
}

//-------Product-card------
.product-card {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem 0;
  background-color: var.$product-card-bg;
  border-radius: 0.5625rem;
  transition: var.$transition-bg;

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover .product-card__svg {
      fill: red;
    }
  }

  &__svg {
    stroke: var.$products-svg-stroke;
    transition: var.$transition-stroke;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: var.$product-card-title-color;
    transition: var.$transition-color;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 600;
    color: var.$product-card-price-color;
    text-align: center;
    transition: var.$transition-color;
  }

  &__link {
    padding: 0.75rem 4rem;
    background-color: var.$product-card-link-bg;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$product-card-link-color;
    transition: var.$transition-bg, var.$transition-color;

    &:hover {
      background-color: #304272;
    }
  }
}

//-------Banners------
.banners {
  &__bg {
    width: 100%;
    background-color: var.$banners-bg;
    transition: var.$transition-bg;
  }

  &__slide {
    .banners__card {
      height: 100%;
    }
  }

  &__card {
    padding: 1.5rem 2rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem 0;
    transition: var.$transition-bg;

    &_bg {
      background-color: var.$banners-bg-1;
    }

    &_bg2 {
      background-color: var.$banners-bg-2;
    }

    &_bg3 {
      background-color: var.$banners-bg-3;
    }

    &_bg4 {
      background-color: var.$banners-bg-4;
    }
  }

  &__title {
    font-size: 2.125rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var.$banners-title-color;
    transition: var.$transition-color;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$banners-text-color;
    transition: var.$transition-color;
  }

  &__btn {
    position: absolute;
    top: 45%;
    cursor: pointer;
    background-color: transparent;
    border: none;

    svg {
      fill: var.$banners-btn-fill;
      transition: var.$transition-fill;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }
  }

  &__box {
    margin: 0 auto;
    max-width: 10rem;
    position: relative;
    overflow: hidden;
  }

  &__indicators {
    margin: 2rem auto;
    padding: 0;
    position: relative;
    right: 0;
    display: none;
    transition: var.$transition-all;
  }

  &__indicator {
    margin: 0 0.5rem;
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var.$banners-indicator-bg;
    opacity: 0.1;
    cursor: pointer;
    transition: var.$transition-all;
  }
}

//-------Discount---------
.discount {
  &__bg {
    padding: 5rem 0;
    width: 100%;
    background-color: var.$discount-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem 0;
  }

  &__box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2rem;
  }
}

//-------Banner-2----------
.banner-2 {
  width: 100%;

  &__bg {
    width: 100%;
    background-color: var.$banner2-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    padding: 1rem;
    height: 28rem;
    background-image: url(/images/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 100;
    text-transform: capitalize;
    color: var.$banner2-title-color;
    transition: var.$transition-color;
    span {
      font-weight: 500;
    }
  }

  &__subtitle {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var.$banner2-subtitle-color;
    transition: var.$transition-color;
  }
}
