@use '../variables' as var;

.payment {
  &__bg {
    background-color: var.$shop-bg;
    transition: var.$transition-bg;
  }

  &__steps {
    padding: 4.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    opacity: 0.3;

    &_active {
      opacity: 1;
    }
  }

  &__title {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__text {
    font-size: 1.125rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__content {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem 6rem;
  }

  &__order {
    max-width: 32rem;
    width: 100%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 0;
    border: 0.0625rem solid var.$form-order-border-color;
    border-radius: 0.625rem;
    transition: var.$transition-border-color;

    &_disabled {
      display: none;
    }
  }

  &__order-title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__order-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem 0;
  }

  &__order-product {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem 0;
    border-radius: 0.8125rem;
    background-color: var.$product-card-bg;
    transition: var.$transition-bg;
  }

  &__order-img {
    max-width: 2.5rem;
    max-height: 2.5rem;
  }

  &__order-text {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__order-price {
    font-size: 1rem;
    font-weight: 700;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__order-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem 0;
  }

  &__order-subtitle {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$form-order-label-color;
    transition: var.$transition-color;
  }

  &__order-info {
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem 0;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
  }

  &__info-box {
    width: 100%;
    padding: 0 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 0;

    &_w {
      max-width: 32rem;
    }

    &_disabled {
      display: none;
    }
  }

  &__info-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var.$global-color;
    transition: var.$transition-color;

    &_fw {
      font-weight: 700;
    }
  }

  &__form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem 0;

    &_gap {
      gap: 2.5rem 0;
    }
  }

  &__cards-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 0;
  }

  &__card-address {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0 1rem;
    border-radius: 0.5rem;
    background-color: var.$product-card-bg;
    transition: var.$transition-bg;
  }

  &__checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    appearance: none;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: 0.125rem solid var.$global-color;
    border-radius: 50%;
    transition: var.$transition-border-color;
    cursor: pointer;

    &::before {
      content: '';
      width: 0.875rem;
      height: 0.875rem;
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      border-radius: 50%;
      background-color: var.$global-color;
      transform: scale(0);
      transition: var.$transition-bg, var.$transition-transform;
    }

    &:checked::before {
      transform: scale(1);
    }

    &_require {
      box-shadow: 0 0 0.625rem rgba(255, 0, 0, 1);
    }
  }

  &__alert {
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    color: #e70000;
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
  }

  &__form-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem 0;
  }

  &__form-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 1rem;
  }

  &__form-index {
    font-size: 1.125rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-mark {
    padding: 0 0.5rem;
    background-color: var.$global-color;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$global-color-revers;
    text-transform: uppercase;
    transition: var.$transition-bg, var.$transition-color;
  }

  &__form-address {
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-phone {
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5rem;
  }

  &__form-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:active {
      @extend %btn-active;
    }
  }

  &__form-svg {
    fill: var.$global-color;
    transition: var.$transition-fill;
  }

  &__fading-line {
    width: 100%;
    height: 0.0625rem;
    background-color: #000000;
    border: none;
    mask-image: linear-gradient(90deg, transparent, var.$global-color 50%, var.$global-color 50%, transparent);
    background-image: repeating-linear-gradient(
      90deg,
      var.$shop-bg,
      var.$shop-bg 5px,
      transparent 5px,
      transparent 10px
    );
  }

  &__form-btn-add {
    padding: 0;
    position: absolute;
    left: 49%;
    bottom: -3%;
    border: none;
    border-radius: 50%;
    background-color: var.$global-color-revers;
    transition: var.$transition-bg;
    cursor: pointer;

    &::after {
      content: 'Add New Address';
      width: 10rem;
      position: absolute;
      left: -4.125rem;
      bottom: -1.5rem;
      font-size: 0.875rem;
      font-weight: 400;
      color: var.$global-color;
      text-align: center;
      transition: var.$transition-color;
    }

    &:active {
      @extend %btn-active;
    }
  }

  &__svg-plus {
    fill: var.$global-color;
    transition: var.$transition-fill;
  }

  &__cards-shipping {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem 0;
  }

  &__card-shipping {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
    border: 0.0625rem solid var.$payment-border-color;
    border-radius: 0.6875rem;
    transition: var.$transition-border-color;
  }

  &__form-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    transition: var.$transition-opacity;

    &_active {
      opacity: 1;
    }
  }

  &__form-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
  }

  &__pay {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-shipment {
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-time {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__date-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__label-date {
    width: 6.875rem;
    position: relative;
    padding: 0.3125rem;
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 0.5rem;
      height: 0.125rem;
      position: absolute;
      top: 45%;
      background-color: var.$filters-before-bg;
      transition: var.$transition-transform, var.$transition-bg;
    }

    &::before {
      right: 0.25rem;
      transform: rotateX(0) rotateZ(45deg);
    }

    &::after {
      right: 0;
      transform: rotateX(0) rotateZ(-45deg);
    }

    &_active {
      &::before {
        transform: rotateX(180deg) rotateZ(45deg);
      }

      &::after {
        transform: rotateX(180deg) rotateZ(-45deg);
      }
    }

    &_disabled {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__input-date {
    appearance: none;
    position: relative;
    width: 0;
    height: 0;
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: auto;
      height: auto;
      cursor: pointer;
    }
  }

  &__form-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 3.5rem;
  }

  &__form-button {
    appearance: none;
    padding: 0;
    border: none;
    background-color: transparent;
    border-bottom: 0.0625rem solid transparent;
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$global-color;
    opacity: 0.6;
    transition: var.$transition-color, var.$transition-opacity;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &_active {
      border-color: var.$global-color;
    }
  }

  &__form-info-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem 0;
  }

  &__form-payment-input {
    width: 100%;
    padding: 0.8rem;
    border: 0.0625rem solid var.$payment-card-border-color;
    border-radius: 0.4375rem;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color, var.$transition-border-color;

    &::placeholder {
      color: var.$payment-placeholder-color;
      transition: var.$transition-color;
    }
  }

  &__form-card-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
  }

  &__form-card-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 0 0.5rem;
  }

  &__form-card-label {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
    cursor: pointer;
  }

  &__btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 1.5rem;
  }

  &__btn {
    max-width: 15rem;
    width: 100%;
    padding: 1.1rem;
    border: 0.0625rem solid var.$global-color;
    border-radius: 0.375rem;
    background-color: var.$global-color-revers;
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-bg, var.$transition-border-color, var.$transition-color;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var.$shop-link-bg-hover;
    }

    &:active {
      @extend %btn-active;
    }

    &_bg {
      background-color: var.$global-color;
      color: var.$global-color-revers;
    }

    &_disabled {
      display: none;
    }
  }
}
