@use '../variables' as var;

.box {
  width: 100%;
}

.inner {
  &__bg {
    padding: 1.5rem 0.9375rem;
    background-color: var.$inner-bg;
    transition: var.$transition-bg;
  }

  &__block {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 0 2rem;
  }
}

//----Filters-----
.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
  background-color: var.$filters-bg;
  transition: var.$transition-bg;

  &__suptitle {
    display: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__accordion {
    width: 100%;
  }

  &__details {
    &[open] + .filters__content {
      grid-template-rows: 1fr;
    }

    &_active {
      .filters__summary {
        &::before {
          transform: rotateX(180deg) rotateZ(45deg);
        }

        &::after {
          transform: rotateX(180deg) rotateZ(-45deg);
        }
      }
    }
  }

  &__summary {
    padding: 0 0 0.75rem 0;
    position: relative;
    font-size: 1.1875rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color, var.$transition-border-color;
    border-bottom: 0.0625rem solid var.$filters-border-color;
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::before,
    &::after {
      content: '';
      width: 0.75rem;
      height: 0.125rem;
      position: absolute;
      top: 33%;
      background-color: var.$filters-before-bg;
      transition: var.$transition-transform, var.$transition-bg;
    }

    &::before {
      right: 1.1rem;
      transform: rotateX(0) rotateZ(45deg);
    }

    &::after {
      right: 0.6rem;
      transform: rotateX(0) rotateZ(-45deg);
    }
  }

  &__form {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.5s;
  }

  &__content-body {
    overflow: hidden;
  }

  &__form-search {
    margin: 1rem 0 0 0;
  }

  &__inner {
    position: relative;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var.$filters-label-bg;
    }

    &_active {
      .filters__checkbox {
        background-color: var.$filters-checkbox-active-bg;

        &::before {
          transform: scale(1) rotateZ(225deg);
        }

        &::after {
          transform: scale(1) rotateZ(135deg);
        }
      }
    }
  }

  &__checkbox {
    margin-right: 0.5rem;
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    background-color: var.$filters-checkbox-bg;
    border: 1px solid var.$filters-checkbox-border-color;
    border-radius: 0.1875rem;
    transition: var.$transition-border-color, var.$transition-bg;

    &::before,
    &::after {
      content: '';
      height: 0.125rem;
      position: absolute;
      background-color: var.$filters-checkbox-before-bg;
      transition: var.$transition-transform, var.$transition-bg;
    }

    &::before {
      width: 0.375rem;
      top: 58%;
      left: 0.0625rem;
      transform: scale(0) rotateZ(45deg);
    }

    &::after {
      width: 0.625rem;
      top: 50%;
      right: 0;
      transform: scale(0) rotateZ(-45deg);
    }
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__count {
    font-weight: 300;
    color: var.$filters-count-color;
    transition: var.$transition-color;
  }

  &__input {
    margin: 0;
    width: 1px;
    height: 0;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0;
  }

  &__button {
    display: none;
    padding: 0.75rem 1rem;
    background-color: var.$content-select-bg;
    border: 0.0625rem solid var.$content-select-border-color;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-border-color, var.$transition-color, var.$transition-bg;
  }
}

//-------Main-------
.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__numbers {
    font-size: 1rem;
    font-weight: 500;
    color: var.$content-numbers-color;
    transition: var.$transition-color;
  }

  &__number {
    font-size: 1.25rem;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
  }

  &__button {
    display: none;
    padding: 0.75rem 3rem 0.75rem 1rem;
    background-color: var.$content-select-bg;
    background-image: url('/images/filters.svg');
    background-repeat: no-repeat;
    background-position: 85%;
    border: 0.0625rem solid var.$content-select-border-color;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-border-color, var.$transition-color, var.$transition-bg;
    cursor: pointer;
  }

  &__form {
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 0.6rem;
      height: 0.125rem;
      position: absolute;
      top: 50%;
      background-color: var.$filters-before-bg;
      transition: var.$transition-bg, var.$transition-transform;
    }

    &::before {
      right: 1.375rem;
      transform: rotateZ(45deg);
    }

    &::after {
      right: 1rem;
      transform: rotateZ(-45deg);
    }
  }

  &__select {
    padding: 0.75rem 3rem 0.75rem 1rem;
    width: 100%;
    background-color: var.$content-select-bg;
    border: 0.0625rem solid var.$content-select-border-color;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-border-color, var.$transition-color, var.$transition-bg;
    appearance: none;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.5rem 1rem;
  }
}
