@use '../variables' as var;

//-------Main-------
.box {
  width: 100%;
}

.inner {
  &__bg {
    padding: 1.5rem 0.9375rem;
    background-color: var.$inner-bg;
    transition: var.$transition-bg;
  }
}

.filter {
  &__details {
    cursor: pointer;
  }

  &__summary {
    padding: 0 0 0.75rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: var.$filter-color;
    transition: var.$transition-color;
    border-bottom: 0.0625rem solid #e3e3e3;
  }

  &__inner {
    position: relative;
  }

  &__label {
    padding: 0 0 0 1.5rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var.$filter-color;
    transition: var.$transition-color;
  }

  &__count {
    font-weight: 300;
    color: var.$filter-count-color;
    transition: var.$transition-color;
  }

  &__input {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 1;
  }
}
