@use '../variables' as var;

//-------Main-------
.box {
  width: 100%;
}

.inner {
  &__bg {
    padding: 1.5rem 0.9375rem;
    background-color: var.$inner-bg;
    transition: var.$transition-bg;
  }
}

.filter {
  &__summary {
    padding: 0 0 0.75rem 0;
    position: relative;
    font-size: 1.1875rem;
    font-weight: 500;
    color: var.$filter-color;
    transition: var.$transition-color;
    border-bottom: 0.0625rem solid #e3e3e3;
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::before,
    &::after {
      content: '';
      width: 0.75rem;
      height: 0.125rem;
      position: absolute;
      top: 33%;
      background-color: black;
      transition: var.$transition-transform;
    }

    &::before {
      right: 1.1rem;
      transform: rotateX(0) rotateZ(45deg);
    }

    &::after {
      right: 0.6rem;
      transform: rotateX(0) rotateZ(-45deg);
    }
  }

  &__form-search {
    margin: 1rem 0;
  }

  &__inner {
    position: relative;
  }

  &__label {
    padding: 0 0 0 1.5rem;
  }

  &__checkbox-box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 0.1875rem;
  }

  &__name {
    font-size: 1rem;
    font-weight: 500;
    color: var.$filter-color;
    transition: var.$transition-color;
  }

  &__count {
    font-weight: 300;
    color: var.$filter-count-color;
    transition: var.$transition-color;
  }

  &__input {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 1;
  }
}
