@use '../variables' as var;

//---Info-------------------
.info {
  width: 100%;

  &__bg {
    padding: 7rem 0;
    background-color: var.$info-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 3rem;
  }

  &__title {
    grid-column-start: 2;
    grid-column-end: 3;

    font-weight: 700;
    font-size: 2.5rem;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__content {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    gap: 0 3rem;
  }

  &__images {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 0 3rem;
  }

  &__images-min {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
  }

  &__img {
    &_min {
      opacity: 0.4;
    }

    &_min-active {
      opacity: 1;
    }
  }

  &__content-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 0 1rem;
  }

  &__price-real {
    font-weight: 500;
    font-size: 2rem;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__price-sale {
    font-weight: 400;
    font-size: 1.5rem;
    color: var.$global-color;
    transition: var.$transition-color, var.$transition-opacity;
    opacity: 0.5;
    position: relative;
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
  }

  &__colors-text {
    font-weight: 400;
    font-size: 1rem;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__form-colors {
    display: flex;
    align-items: center;
    gap: 0 0.4rem;
  }

  &__form-box {
    position: relative;
  }

  &__form-colors-label {
    width: 2rem;
    height: 2rem;
    display: block;
    border: 0.1875rem solid var.$info-bg;
    border-radius: 50%;
    cursor: pointer;

    &_black {
      background-color: black;
    }

    &_purple {
      background-color: rgb(128, 0, 128);
    }

    &_red {
      background-color: red;
    }

    &_yellow {
      background-color: yellow;
    }

    &_grey {
      background-color: grey;
    }
  }

  &__form-colors-input {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__form-memory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
  }

  &__form-inner {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-memory-label {
    width: 100%;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: var.$global-color;
    border: 0.0625rem solid var.$info-form-memory-label-border-color;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      background-color: var.$shop-link-bg-hover;
    }

    &:focus {
      background-color: var.$shop-link-bg-hover;
    }
  }

  &__form-memory-input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  &__detail {
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var.$info-detail-bg;
    transition: var.$transition-bg;
  }

  &__detail-svg {
    fill: var.$info-detail-svg-fill;
    transition: var.$transition-fill;

    &_stroke {
      stroke: var.$info-detail-svg-stroke;
      transition: var.$transition-stroke;
    }
  }

  &__detail-title {
    font-weight: 400;
    font-size: 0.875rem;
    color: var.$info-detail-text-color;
    transition: var.$transition-color;
    opacity: 0.6;
  }

  &__detail-text {
    font-weight: 500;
    font-size: 0.875rem;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__description-text {
    font-weight: 400;
    font-size: 0.875rem;
    color: var.$info-description-text-color;
    transition: var.$transition-color;
  }

  &__description-btn {
    padding: 0;
    position: relative;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 0.875rem;
    color: var.$global-color;
    cursor: pointer;
    transition: var.$transition-color;

    &:hover {
      color: var.$shop-link-bg-hover;

      &::before {
        background-color: var.$shop-link-bg-hover;
      }
    }

    &:focus {
      color: var.$shop-link-bg-hover;

      &::before {
        background-color: var.$shop-link-bg-hover;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 0.0625rem;
      position: absolute;
      left: 0;
      bottom: 0.125rem;
      background-color: var.$global-color;
      transition: var.$transition-bg;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
  }

  &__buttons-btn {
    flex: 1;
    padding: 1rem 3.5rem;
    background-color: var.$info-bg;
    border: 0.0625rem solid var.$info-buttons-btn-border-color;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: var.$global-color;
    transition: var.$transition-color, var.$transition-border-color, var.$transition-bg;
    cursor: pointer;

    &:hover {
      background-color: var.$shop-link-bg-hover;
    }

    &:focus {
      background-color: var.$shop-link-bg-hover;
    }

    &:active {
      @extend %btn-active;
    }

    &_bg {
      color: var.$info-buttons-btn-color;
      background-color: var.$info-buttons-btn-bg;
    }
  }

  &__info {
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 2rem;
  }

  &__info-box {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
  }

  &__info-picture {
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: var.$info-info-picture-bg;
    transition: var.$transition-bg;
  }

  &__info-svg {
    fill: var.$info-info-svg-fill;
    transition: var.$transition-fill;
  }

  &__info-title {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$info-info-title-color;
    transition: var.$transition-color;
  }

  &__info-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }
}

//---Details----------------------
.details {
  &__bg {
    padding: 5rem 0;
    background-color: var.$details-bg;
    transition: var.$transition-bg;
  }

  &__content {
    width: 100%;
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem 0;
    background-color: var.$info-bg;
    transition: var.$transition-bg;
  }

  &__content-text {
    font-size: 0.875;
    font-weight: 500;
    color: var.$details-content-text-color;
    transition: var.$transition-color;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem 0;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem 0;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 0;
    list-style-type: none;
  }

  &__li {
    padding: 0 0 0.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.0625rem solid var.$details-li-border-color;
    transition: var.$transition-border-color;
  }

  &__text {
    font-size: 1rem;
    font-weight: 400;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__list-min {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    list-style-type: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//---Reviews-------------
.reviews {
  &__bg {
    padding: 5rem 0;
    background-color: var.$info-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem 0;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 3.75rem;
  }

  &__stat {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem 0;
    list-style: none;
  }

  &__stat-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__stat-text {
    max-width: 8rem;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__stat-progress {
    flex: 1;
    max-width: 48rem;
    width: 100%;

    &::-webkit-meter-bar {
      background-color: var.$reviews-meter-bg;
      border: 0;
      transition: var.$transition-bg;
    }

    &::-webkit-meter-optimum-value {
      background-color: var.$reviews-meter-value-bg;
      transition: var.$transition-bg;
    }
  }

  &__stat-count {
    max-width: 2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var.$reviews-stat-count-color;
    transition: var.$transition-color;
    text-align: end;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem 0;
  }
}
