@use 'variables';

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-m {
  max-width: 1200px;
  margin: 0 auto;
}
