@use 'variables' as var;

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: var.$body-bg;
  transition: background-color ease 0.5s;
}

a {
  text-decoration: none;
  & svg {
    display: block;
  }
}

//---Container------
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-m {
  max-width: 1200px;
  margin: 0 auto;
}

//-------Header-------
.header {
  background-color: var.$header-bg;
  transition: background-color ease 0.5s;

  &__inner {
    font-size: 1.5rem;
    padding: 0.66666em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2.1em;
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2.1em;
    list-style: none;
    &_icon {
      gap: 0 1em;
    }
  }

  &__link {
    display: block;
    font-size: 1rem;
    color: var.$header-link-color;
    opacity: 0.6;
    transition:
      opacity ease 0.2s,
      color ease 0.5s;
    &:hover {
      opacity: 1;
      & .header__like {
        fill: red;
      }
    }
    & svg > path {
      transition: stroke ease 0.5s;
      stroke: var.$header-link-stroke;
    }
    &_active {
      opacity: 1;
    }
  }
}

//------Logo--------
.logo {
  & svg > path {
    fill: var.$logo-bg;
    transition: fill ease 0.5s;
  }
}

//-------Form-search-------
.form-search {
  max-width: 375px;
  width: 35%;
  position: relative;

  &__label {
    position: absolute;
    top: 30.8%;
    left: 4.26%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    opacity: 0.6;
    cursor: pointer;
    & svg > path {
      stroke: var.$form-search-stroke;
      transition: stroke ease 0.5s;
    }
  }

  &__input {
    padding: 0.875em 1.25em 0.875em 2.5em;
    width: 100%;
    font-size: 1rem;
    background-color: var.$form-search-input-bg;
    border: none;
    border-radius: 8px;
    color: var.$form-search-input-color;
    transition:
      background-color ease 0.5s,
      color ease 0.5s;
    &::placeholder {
      color: var.$form-search-input-color;
      transition: color ease 0.5s;
      opacity: 0.6;
    }
  }

  &__button {
    padding: 0.08333em;
    position: absolute;
    top: 26.923%;
    right: 4.26%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var.$form-search-input-bg;
    cursor: pointer;
    opacity: 0.6;
    transition:
      background-color ease 0.5s,
      opacity ease 0.2s;
    & svg > path {
      stroke: var.$form-search-stroke;
    }
    &:hover {
      opacity: 1;
    }
  }
}

//-------Switch Theme-------
.switch-theme {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 38px;
  background-color: var.$switch-theme-bg;
  border: #000000 1px solid;
  border-radius: 34px;
  transition: background-color ease 0.5s;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: 34px;
    height: 34px;
    top: 1px;
    left: 4px;
    background-image: url('/images/moon.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
  }

  &::after {
    position: absolute;
    content: '';
    width: 34px;
    height: 34px;
    top: 1px;
    right: 2px;
    background-image: url('/images/sun.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-theme__span {
      transform: translateX(calc(100%));
    }
  }

  &__span {
    position: absolute;
    top: -2px;
    right: 0;
    left: -3px;
    bottom: 0;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    transition: transform ease 0.5s;
    will-change: transform;
    cursor: pointer;
    z-index: 100;
  }
}

//-------Switch Theme------
.theme-light {
  //---Body----
  --body-bg: #dfdfdf;
  //---Header---
  --header-bg: #fff;
  --logo-bg: black;
  --header-link-color: #000;
  --header-link-stroke: #000;
  --form-search-stroke: #989898;
  --form-search-input-bg: #f5f5f5;
  --form-search-input-color: #000;
  --switch-theme-bg: #304272;
  //---Banner-----
  --banner-bg: #211c24;
  --banner-suptitle-color: #909090;
  --banner-title-color: #fff;
  --banner-subtitle-color: #909090;
  //---shop-link----
  --shop-link-color: #fff;
  //---Banner-m-------
  --banner-m-bg-box-1: #fff;
  --banner-m-bg-box-2: #ededed;
  --banner-m-bg-box-3: #ededed;
  --banner-m-bg-box-4: #353535;
  --banner-m-color-title-box-1: #000;
  --banner-m-color-title-box-2: #000;
  --banner-m-color-title-box-3: #000;
  --banner-m-color-title-box-4: #fff;
  --banner-m-color-text: #909090;
}

.theme-dark {
  //---Body----
  --body-bg: #120724;
  //---Header---
  --header-bg: #141a2e;
  --logo-bg: rgb(255, 255, 255);
  --header-link-color: #fff;
  --header-link-stroke: #fff;
  --form-search-stroke: #fff;
  --form-search-input-bg: #1d2a56;
  --form-search-input-color: #fff;
  --switch-theme-bg: rgb(156, 82, 82);
  //---Banner-----
  --banner-bg: #170b1e;
  --banner-suptitle-color: #fff;
  --banner-title-color: #fff;
  --banner-subtitle-color: #fff;
  //---shop-link----
  --shop-link-color: #fff;
  //---Banner-m-------
  --banner-m-bg-box-1: #262222;
  --banner-m-bg-box-2: #2e1818;
  --banner-m-bg-box-3: #161515;
  --banner-m-bg-box-4: #241d1d;
  --banner-m-color-title-box-1: #fff;
  --banner-m-color-title-box-2: #fff;
  --banner-m-color-title-box-3: #fff;
  --banner-m-color-title-box-4: #fff;
  --banner-m-color-text: #fff;
}

//-------footer-------
.footer {
  &__link {
    display: block;
  }
}
