@use 'variables' as var;

body {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  justify-items: center;
  font-family: 'Inter', sans-serif;
  background-color: var.$body-bg;
  transition: var.$transition-bg;
}

a {
  text-decoration: none;
}

//---Container------
.container {
  //max-width 1470px
  max-width: var.$max-width;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.container-m {
  //max-width 1230px
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

//-------Header-------
.header {
  width: 100%;

  &__bg {
    background-color: var.$header-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    padding: 1rem 0.9375rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__block {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 2rem;
    list-style: none;
    &_icon {
      gap: 0 0.8rem;
    }
  }

  &__link {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    opacity: 0.6;
    transition: var.$transition-opacity, var.$transition-color;
    &:hover {
      opacity: 1;
      & .header__like {
        fill: red;
      }
    }

    &:focus {
      opacity: 1;
      & .header__like {
        fill: red;
      }
    }

    svg {
      stroke: var.$header-link-stroke;
      transition: var.$transition-stroke;
    }

    &_active {
      opacity: 1;
    }

    &_mobile {
      opacity: 1;
    }
  }

  //---Burger menu------
  &__mobile {
    display: none;
  }

  &__menu-mobile {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
  }

  &__link-mobile {
    font-size: 2rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }
}

//------Mobile Menu------
//---Body lock------
._lock {
  overflow: hidden;
}

//---Btn-menu------------
.btn-menu {
  padding: 0;
  width: 2rem;
  height: 1.5rem;
  position: relative;
  display: none;
  border: none;
  background-color: transparent;
  z-index: 100;
  transition: var.$transition-transform;

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 0.125rem;
    position: absolute;
    left: 0;
    background-color: var.$btn-menu-bg;
    transition: var.$transition-bg, var.$transition-transform;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &_active {
    &::before {
      transform: translateY(0.6875rem) rotateZ(45deg);
    }

    &::after {
      transform: translateY(-0.6875rem) rotateZ(-45deg);
    }
    .btn-menu__span {
      transform: scale(0);
    }
  }

  &__span {
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color: var.$btn-menu-bg;
    transition:
      var.$transition-bg,
      transform ease 0.5s;
  }
}

//------Logo--------
.logo {
  z-index: 100;

  &__svg {
    fill: var.$logo-bg;
    transition: var.$transition-fill;
  }

  &_z-index {
    z-index: 48;
  }
}

//-------Form-search-------
.form-search {
  max-width: 23.4375rem;
  width: 100%;
  position: relative;

  &__label {
    position: absolute;
    top: 30.8%;
    left: 4.26%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    opacity: 0.6;
    cursor: pointer;
  }

  &__icon {
    stroke: var.$form-search-stroke;
    transition: var.$transition-stroke;
  }

  &__input {
    padding: 0.75rem 1.125rem 0.75rem 2.375rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    background-color: var.$form-search-input-bg;
    border: 0.125rem solid transparent;
    outline: none;
    border-radius: 0.5rem;
    color: var.$global-color;
    transition: var.$transition-bg, var.$transition-color;

    &::placeholder {
      color: var.$global-color;
      transition: var.$transition-color;
      opacity: 0.6;
    }

    &_warning {
      border-color: red;
    }
  }

  &__button {
    padding: 0.08333em;
    position: absolute;
    top: 26.923%;
    right: 4.26%;
    border: 0;
    background-color: var.$form-search-input-bg;
    cursor: pointer;
    transition: var.$transition-bg;
    svg {
      stroke: var.$form-search-stroke;
      transition: var.$transition-stroke;
    }
    &:hover {
      opacity: 1;
    }
  }

  &__suggests {
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    z-index: 105;
    background-color: var.$form-search-input-bg;
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    transition: var.$transition-bg;

    &_warning {
      border-left: 0.125rem solid red;
      border-right: 0.125rem solid red;
      border-bottom: 0.125rem solid red;
    }
  }

  &__suggests-list {
    margin: 0;
    padding: 0 0 0.5rem 0;
    list-style: none;
  }

  &__suggests-item {
    padding: 0rem 1.25rem 0rem 2.5rem;

    &:hover {
      background-color: var.$form-search-suggests-item-bg;
    }

    &_active {
      background-color: var.$form-search-suggests-item-bg;
      .form-search__suggests-text,
      .form-search__suggests-svg {
        opacity: 1;
      }
    }
  }

  &__link {
    &:hover {
      .form-search__suggests-text,
      .form-search__suggests-svg {
        opacity: 1;
      }
    }
  }

  &__suggests-box {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0 1rem;
  }

  &__suggests-svg {
    opacity: 0.6;
    stroke: var.$form-search-stroke;
    transition: var.$transition-stroke;
  }

  &__suggests-text {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    opacity: 0.6;
    transition: var.$transition-color;
  }

  &__warning {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: red;
  }
}

//-------Switch Theme-------
.switch-theme {
  position: relative;
  display: inline-block;
  width: 4.625rem;
  height: 2.375rem;
  background-color: var.$switch-theme-bg;
  border: #000000 0.0625rem solid;
  border-radius: 2.125rem;
  transition: var.$transition-bg;
  cursor: pointer;

  &::before {
    position: absolute;
    content: '';
    width: 2.125rem;
    height: 2.125rem;
    top: 0.0625rem;
    left: 0.25rem;
    background-image: url('/images/moon.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
  }

  &::after {
    position: absolute;
    content: '';
    width: 2.125rem;
    height: 2.125rem;
    top: 0.0625rem;
    right: 0.125rem;
    background-image: url('/images/sun.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch-theme__span {
      transform: translateX(calc(100%));
    }
  }

  &__span {
    position: absolute;
    top: -0.125rem;
    right: 0;
    left: -0.1875rem;
    bottom: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border: 0.0625rem solid black;
    border-radius: 50%;
    transition: transform ease 0.5s;
    will-change: transform;
    cursor: pointer;
    z-index: 100;
  }
}

//------Breadcrumbs-----------
.breadcrumbs {
  width: 100%;

  &__bg {
    padding: 2.75rem 0.9375rem;
    background-color: var.$breadcrumbs-bg;
    transition: var.$transition-bg, var.$transition-border-color;
    border-top: 0.0625rem solid var.$breadcrumbs-border-color;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 3.5rem;
    list-style: none;
  }
  &__item {
    position: relative;
    opacity: 0.6;

    &:last-child {
      opacity: 1;
    }
  }

  &__item:not(:last-child)::after {
    content: url(/images/arrow.webp);
    width: 1.5rem;
    height: 1.5rem;
    bottom: 0;
    margin: 0 1rem;
    position: absolute;
  }

  &__link {
    font-size: 1rem;
    font-weight: 500;
    color: var.$global-color;
    transition: var.$transition-color;
  }
}

//-----Main-----
main {
  width: 100%;
}

//-------footer-------
.footer {
  width: 100%;

  &__bg {
    padding: 6.25rem 0;
    background-color: var.$footer-bg;
    transition: var.$transition-bg;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__box-logo {
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    align-items: flex-start;
  }

  &__logo {
    fill: var.$footer-logo-fill;
    transition: var.$transition-fill;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$footer-color;
    transition: var.$transition-color;
  }

  &__box-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem 0;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: var.$footer-title-color;
    transition: var.$transition-color;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem 0;
    list-style-type: none;
  }

  &__link {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var.$footer-color;
    transition: var.$transition-color;

    &:hover {
      color: #fff;
    }

    &:focus {
      color: #fff;
      .footer__svg {
        transform: rotateZ(30deg) scale(1.5);
      }
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 0 2rem;
  }

  &__svg {
    fill: var.$footer-svg-fill;
    stroke: var.$footer-svg-stroke;
    transition:
      var.$transition-stroke,
      var.$transition-fill,
      transform ease 0.5s;

    &:hover {
      transform: rotateZ(30deg) scale(1.5);
    }
  }
}

//-----Slider-------
.slider {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  &__line {
    display: flex;
    transition: all ease 1s;
  }
}

//-------Product-card------
.product-card {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem 0;
  background-color: var.$product-card-bg;
  border-radius: 0.5625rem;
  transition: var.$transition-bg;

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover .product-card__svg {
      fill: red;
    }

    &:focus .product-card__svg {
      fill: red;
    }
  }

  &__svg {
    stroke: var.$products-svg-stroke;
    transition: var.$transition-stroke;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
  }

  &__title {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: var.$global-color;
    transition: var.$transition-color;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 600;
    color: var.$global-color;
    text-align: center;
    transition: var.$transition-color;
  }

  &__link {
    padding: 0.75rem 4rem;
    background-color: var.$product-card-link-bg;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var.$product-card-link-color;
    transition: var.$transition-bg, var.$transition-color;

    &:hover {
      background-color: #304272;
    }

    &:focus {
      background-color: #304272;
    }
  }
}
