//---max-width 1470px------
$max-width: 91.875rem;
//---transition------
$transition-all: all ease 0.5s;
$transition-bg: background-color ease 0.5s;
$transition-color: color ease 0.5s;
$transition-stroke: stroke ease 0.5s;
$transition-fill: fill ease 0.5s;
$transition-border-color: border-color ease 0.5s;
$transition-opacity: opacity ease 0.5s;
$transition-transform: transform ease 0.5s;

//---var switch-theme----
//------Themes----------
:root {
  //---Body----
  --body-bg: #dfdfdf;

  //---Header---
  --header-bg: #fff;
  --header-link-color: #000;
  --header-link-stroke: #000;
  --header-mobile-bg: #fff;
  --header-mobile-color: #000;

  //---Logo-----
  --logo-bg: black;

  //---Form-search----
  --form-search-stroke: #989898;
  --form-search-input-bg: #f5f5f5;
  --form-search-input-color: #000;
  --form-search-suggests-item-bg: #d5d5d5;

  //---switch-theme----
  --switch-theme-bg: #304272;

  //---Mobile btn-menu------
  --btn-menu-bg: #000;

  //---Breadcrumbs-------
  --breadcrumbs-bg: #fff;
  --breadcrumbs-color: #000;
  --breadcrumbs-border-color: #bebebe;

  //---Footer-----
  --footer-bg: #000;
  --footer-logo-fill: #fff;
  --footer-text-color: #cfcfcf;
  --footer-title-color: #fff;
  --footer-link-color: #cfcfcf;
  --footer-svg-stroke: #000;
  --footer-svg-fill: #fff;

  //---Main Index-----
  //---Banner-----
  --banner-bg: #211c24;
  --banner-suptitle-color: #909090;
  --banner-title-color: #fff;
  --banner-subtitle-color: #909090;

  //---shop-link----
  --shop-link-color: #fff;
  --shop-link-color-dark: #000;
  --shop-link_color-border-color: #000;
  --shop-link-bg-hover: #304272;

  //---Banner-m-------
  --banner-m-bg: #fafafa;
  --banner-m-bg-box-1: #fff;
  --banner-m-bg-box-2: #ededed;
  --banner-m-bg-box-3: #ededed;
  --banner-m-bg-box-4: #353535;
  --banner-m-color-title-box-1: #000;
  --banner-m-color-title-box-2: #000;
  --banner-m-color-title-box-3: #000;
  --banner-m-color-title-box-4: #fff;
  --banner-m-color-text: #909090;

  //---Category-------
  --category-bg: #fafafa;
  --category-btn-fill: #000;
  --category-slide-bg: #ededed;
  --category-svg-stroke: #000;
  --category-name-color: #000;

  //---Title--------
  --title-color: #000;

  //---Products----
  --products-bg: #fff;
  --products-svg-stroke: #909090;
  --products-btn-color: #000;
  --products-btn-bottom-color: #000;

  //---Product-card-----
  --product-card-bg: #f6f6f6;
  --product-card-title-color: #000;
  --product-card-price-color: #000;
  --product-card-link-bg: #000;
  --product-card-link-color: #fff;

  //---Banners-------
  --banners-bg: #fff;
  --banners-bg-1: #f5f5f5;
  --banners-bg-2: #f1f1f1;
  --banners-bg-3: #eaeaea;
  --banners-bg-4: #cdcdcd;
  --banners-title-color: #000;
  --banners-text-color: #090909;
  --banners-btn-fill: #000;
  --banners-indicator-bg: #000;

  //---Discount-------
  --discount-bg: #fff;

  //---Banner-2--------
  --banner2-title-color: #fff;
  --banner2-subtitle-color: #787878;

  //---Main Products----
  //---Inner-----
  --inner-bg: #fff;

  //---filters----
  --filters-color: #000;
  --filters-label-bg: #d5d5d5;
  --filters-count-color: #929292;
  --filters-border-color: #e3e3e3;
  --filters-before-bg: #000;
  --filters-checkbox-bg: #fff;
  --filters-checkbox-border-color: #e3e3e3;
  --filters-checkbox-before-bg: #fff;
  --filters-checkbox-active-bg: #000;
}

.theme-dark {
  //---Body----
  --body-bg: #1a1a1a;

  //---Header---
  --header-bg: #141a2e;
  --header-link-color: #fff;
  --header-link-stroke: #fff;
  --header-mobile-bg: #141a2e;
  --header-mobile-color: #fff;

  //---Logo-----
  --logo-bg: rgb(255, 255, 255);

  //---Form-search----
  --form-search-stroke: #fff;
  --form-search-input-bg: #1d2a56;
  --form-search-input-color: #fff;
  --form-search-suggests-item-bg: #0f1c46;

  //---switch-theme----
  --switch-theme-bg: rgb(156, 82, 82);

  //---Mobile btn-menu------
  --btn-menu-bg: #fff;

  //---Breadcrumbs-------
  --breadcrumbs-bg: #141a2e;
  --breadcrumbs-color: #fff;
  --breadcrumbs-border-color: #383838;

  //---Footer-----
  --footer-bg: #141a2e;
  --footer-logo-fill: #fff;
  --footer-text-color: #cfcfcf;
  --footer-title-color: #fff;
  --footer-link-color: #cfcfcf;
  --footer-svg-stroke: #000;
  --footer-svg-fill: #fff;

  //---Main Index-----
  //---Banner-----
  --banner-bg: #170b1e;
  --banner-suptitle-color: #fff;
  --banner-title-color: #fff;
  --banner-subtitle-color: #fff;

  //---shop-link----
  --shop-link-color: #fff;
  --shop-link-color-dark: #fff;
  --shop-link_color-border-color: #fff;
  --shop-link-bg-hover: #304272;

  //---Banner-m-------
  --banner-m-bg: #060820;
  --banner-m-bg-box-1: #262222;
  --banner-m-bg-box-2: #2e1818;
  --banner-m-bg-box-3: #161515;
  --banner-m-bg-box-4: #241d1d;
  --banner-m-color-title-box-1: #fff;
  --banner-m-color-title-box-2: #fff;
  --banner-m-color-title-box-3: #fff;
  --banner-m-color-title-box-4: #fff;
  --banner-m-color-text: #fff;

  //---Category-------
  --category-bg: #141842;
  --category-btn-fill: #fff;
  --category-slide-bg: #012e32;
  --category-svg-stroke: #fff;
  --category-name-color: #fff;

  //---Title--------
  --title-color: #fff;

  //---Products----
  --products-bg: #1f1d22;
  --products-svg-stroke: #fff;
  --products-btn-color: #fff;
  --products-btn-bottom-color: #fff;

  //---Product-card-----
  --product-card-bg: #1c1526;
  --product-card-title-color: #fff;
  --product-card-price-color: #fff;
  --product-card-link-bg: #040d22;
  --product-card-link-color: #fff;

  //---Banners-------
  --banners-bg: #1f1d22;
  --banners-bg-1: #4c4c4c;
  --banners-bg-2: #3c3c3c;
  --banners-bg-3: #2c2c2c;
  --banners-bg-4: #1c1c1c;
  --banners-title-color: #fff;
  --banners-text-color: #fff;
  --banners-btn-fill: #fff;
  --banners-indicator-bg: #fff;

  //---Discount-------
  --discount-bg: #1f1d22;

  //---Banner-2--------
  --banner2-title-color: #fff;
  --banner2-subtitle-color: #787878;

  //---Main Products----
  //---Inner-----
  --inner-bg: #381b1b;

  //---filters----
  --filters-color: #fff;
  --filters-label-bg: #773e3e;
  --filters-count-color: #a9a9a9;
  --filters-border-color: #a9a9a9;
  --filters-before-bg: #fff;
  --filters-checkbox-bg: #381b1b;
  --filters-checkbox-border-color: #4a4a4a;
  --filters-checkbox-before-bg: #000;
  --filters-checkbox-active-bg: #939393;
}

//---Body----
$body-bg: var(--body-bg);

//---Header----
$header-bg: var(--header-bg);
$header-link-color: var(--header-link-color);
$header-link-stroke: var(--header-link-stroke);
$header-mobile-bg: var(--header-mobile-bg);
$header-mobile-color: var(--header-mobile-color);

//---Logo-----
$logo-bg: var(--logo-bg);

//---Form-search----
$form-search-stroke: var(--form-search-stroke);
$form-search-input-bg: var(--form-search-input-bg);
$form-search-input-color: var(--form-search-input-color);
$form-search-suggests-item-bg: var(--form-search-suggests-item-bg);

//---switch-theme----
$switch-theme-bg: var(--switch-theme-bg);

//---Mobile btn-menu------
$btn-menu-bg: var(--btn-menu-bg);

//---Breadcrumbs-------
$breadcrumbs-bg: var(--breadcrumbs-bg);
$breadcrumbs-color: var(--breadcrumbs-color);
$breadcrumbs-border-color: var(--breadcrumbs-border-color);

//---Footer-----
$footer-bg: var(--footer-bg);
$footer-logo-fill: var(--footer-logo-fill);
$footer-text-color: var(--footer-text-color);
$footer-title-color: var(--footer-title-color);
$footer-link-color: var(--footer-link-color);
$footer-svg-stroke: var(--footer-svg-stroke);
$footer-svg-fill: var(--footer-svg-fill);

//---index.html----
//---Main-------
//---Banner-----
$banner-bg: var(--banner-bg);
$banner-suptitle-color: var(--banner-suptitle-color);
$banner-title-color: var(--banner-title-color);
$banner-subtitle-color: var(--banner-subtitle-color);

//---shop-link----
$shop-link-color: var(--shop-link-color);
$shop-link-color-dark: var(--shop-link-color-dark);
$shop-link_color-border-color: var(--shop-link_color-border-color);
$shop-link-bg-hover: var(--shop-link-bg-hover);

//---Banner-m-------
$banner-m-bg: var(--banner-m-bg);
$banner-m-bg-box-1: var(--banner-m-bg-box-1);
$banner-m-bg-box-2: var(--banner-m-bg-box-2);
$banner-m-bg-box-3: var(--banner-m-bg-box-3);
$banner-m-bg-box-4: var(--banner-m-bg-box-4);
$banner-m-color-title-box-1: var(--banner-m-color-title-box-1);
$banner-m-color-title-box-2: var(--banner-m-color-title-box-2);
$banner-m-color-title-box-3: var(--banner-m-color-title-box-3);
$banner-m-color-title-box-4: var(--banner-m-color-title-box-4);
$banner-m-color-text: var(--banner-m-color-text);

//---Category-------
$category-bg: var(--category-bg);
$category-btn-fill: var(--category-btn-fill);
$category-slide-bg: var(--category-slide-bg);
$category-svg-stroke: var(--category-svg-stroke);
$category-name-color: var(--category-name-color);

//---Title------
$title-color: var(--title-color);

//---Products----
$products-bg: var(--products-bg);
$products-svg-stroke: var(--products-svg-stroke);
$products-btn-color: var(--products-btn-color);
$products-btn-bottom-color: var(--products-btn-bottom-color);

//---Product-card-----
$product-card-bg: var(--product-card-bg);
$product-card-title-color: var(--product-card-title-color);
$product-card-price-color: var(--product-card-price-color);
$product-card-link-bg: var(--product-card-link-bg);
$product-card-link-color: var(--product-card-link-color);

//---Banners-------
$banners-bg: var(--banners-bg);
$banners-bg-1: var(--banners-bg-1);
$banners-bg-2: var(--banners-bg-2);
$banners-bg-3: var(--banners-bg-3);
$banners-bg-4: var(--banners-bg-4);
$banners-title-color: var(--banners-title-color);
$banners-text-color: var(--banners-text-color);
$banners-btn-fill: var(--banners-btn-fill);
$banners-indicator-bg: var(--banners-indicator-bg);

//---Discount-------
$discount-bg: var(--discount-bg);

//---Banner-2-------
$banner2-title-color: var(--banner2-title-color);
$banner2-subtitle-color: var(--banner2-subtitle-color);

//---Main Products----
//---Inner-----
$inner-bg: var(--inner-bg);

//---filters----
$filters-color: var(--filters-color);
$filters-label-bg: var(--filters-label-bg);
$filters-count-color: var(--filters-count-color);
$filters-border-color: var(--filters-border-color);
$filters-before-bg: var(--filters-before-bg);
$filters-checkbox-bg: var(--filters-checkbox-bg);
$filters-checkbox-border-color: var(--filters-checkbox-border-color);
$filters-checkbox-before-bg: var(--filters-checkbox-before-bg);
$filters-checkbox-active-bg: var(--filters-checkbox-active-bg);

//---breakepoints--------
//---576px----
$sm: 36rem;

//---768px-----
$md: 48rem;

//---992px-----
$lg: 62rem;

//---1200px----
$xl: 75rem;
