//---var switch-theme----
//---Body----
$body-bg: var(--body-bg);
//---Header----
$header-bg: var(--header-bg);
$logo-bg: var(--logo-bg);
$header-link-color: var(--header-link-color);
$header-link-stroke: var(--header-link-stroke);
$form-search-stroke: var(--form-search-stroke);
$form-search-input-bg: var(--form-search-input-bg);
$form-search-input-color: var(--form-search-input-color);
$switch-theme-bg: var(--switch-theme-bg);
//---Banner-----
$banner-bg: var(--banner-bg);
$banner-suptitle-color: var(--banner-suptitle-color);
$banner-title-color: var(--banner-title-color);
$banner-subtitle-color: var(--banner-subtitle-color);
//---shop-link----
$shop-link-color: var(--shop-link-color);
